---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi, I'm Randy, a software engineer from Philippines.
      <br />
      My primary tools of choice includes:
      <ul class="list-disc list-inside">
        <li>Flutter</li>
        <li>Dart</li>
        <li>Firebase</li>
        <li>Xamarin</li>
        <li>C#</li>
        <!-- <li>JIRA and Confluence</li> -->
        <li>GraphQL</li>
        <li>Figma</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      Beyond coding, I'm passionate about learning new languages, culture and
      technologies. A hobby of mine includes travelling, self-care and indulging
      with movies and games.
    </p>
    <p class="text-sm font-light">
      While I have some preferred tools, I always choose the best one for the
      job, even if it's not on my usual list. <strong
        >My goal is to find the right solution for each project.</strong
      >
    </p>
  </div>
</Card>
